@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwind.css";

@theme {
    --font-display : "orbiton" ,"poppins";
    --breakpoint-3xl : 1920px ;
    --color-primary :#1368EC;

    @layers base {
        html {
            font-family :  var(--font-display)
        }
        body{
            background-color : #000;
            overflow-x : hidden;
        }
    }

}